/*********************************************
 * Colors
 ********************************************/
$color-hover: #008cba;
$color-hover-dark: #0078a0;
$grey: #333;
$grey-dark: #272727;

$color-main: #45c14f;
$color-main--dark: #39a042;
$color-main--darker: #2d8235;
$color-main-inverted: #fff;

$color-grey--lighter: #8f8f8f;
$color-grey--light: #a2a2a2;
$color-grey: #232323;
$color-grey--dark: #2d2d2d;

$color-grey-text: #333;

$color-warning: #f08a24;
$color-warning--hover: #de770f;

$color-alert: #f04124;
$color-alert--hover: #cf2a0e;

/*********************************************
 * Timings
 ********************************************/
$dtt: 200ms;
$navi-transiton-time: 100ms;

/*********************************************
 * Paddings, Margins etc.
 ********************************************/
$navi-width-small: 5em;
$navi-width-large: 15em;
$default-padding: .4em;
$subheader-padding: 1em;